<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Personal</title>

  <!-- tu CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
  <h1>Módulo Personal</h1>
  <nav>
    <ul class="menu">
      <li><a class="lista tooltip" href="/" data-tooltip="Inicio de la página principal">🏠 Inicio</a></li>
    </ul>
  </nav>
</header>

<main>
  <h2>Bienvenido </h2>
  <p>En esta sección aparecerán tus experiencias personales</p>







</main>

<footer>
  Versiculo Aleatorio proximo (Libro CC:VV).
</footer>







<!-- cargamos el JS externo -->
<script src="{{ url_for('static', filename='js/personal.js') }}"></script>
</body>
</html>
