# =========================
# SECRETS / CONFIG
# =========================
.env
.env.*
*.key
*.pem

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
pip-wheel-metadata/

# =========================
# PROJECT FOLDERS
# =========================
DATA/
Resources/

# =========================
# TOOLS / BINARIES
# =========================
cloudflared.exe

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# WINDOWS
# =========================
Thumbs.db
Desktop.ini
*.log
